<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petshopfix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.Pengadaan.DaftarPengadaan.PengadaanAdapter"></activity>
        <activity android:name=".View.Pengadaan.DaftarPengadaan.ShowPengadaan" />
        <activity android:name=".View.Pengadaan.DaftarProdukPengadaanTertentu.UpdatePengadaanShow" />
        <activity android:name=".View.Pengadaan.DaftarProdukPengadaanTertentu.UpdatePengadaanAdapter" />
        <activity android:name=".View.Pengadaan.DaftarProdukPengadaan.CreatePengadaanAdapter" />
        <activity android:name=".View.Pengadaan.DaftarProdukPengadaan.CreatePengadaanShow" />
        <activity android:name=".Activity.Pengadaan.DetailPengadaan" />
        <activity android:name=".Activity.Pengadaan.CreatePengadaan" />
        <activity android:name=".Fragments.PengadaanFragment" />
        <activity android:name=".Fragments.PenjualanFragment" />
        <activity android:name=".View.Hewan.ListHewan" />
        <activity android:name=".View.Hewan.HewanAdapter" />
        <activity android:name=".Activity.Hewan.UpdateHewan" />
        <activity android:name=".Activity.Hewan.DetailHewan" />
        <activity android:name=".Activity.Hewan.CreateHewan" />
        <activity android:name=".Activity.Hewan.MenuHewan" />
        <activity android:name=".View.Customer.ListCustomer" />
        <activity android:name=".View.Customer.CustomerAdapter" />
        <activity android:name=".Activity.Customer.DetailCustomer" />
        <activity android:name=".Activity.Customer.UpdateCustomer" />
        <activity android:name=".Activity.Customer.CreateCustomer" />
        <activity android:name=".Activity.Customer.MenuCustomer" />
        <activity android:name=".View.Supplier.SupplierAdapter" />
        <activity android:name=".View.Supplier.ListSupplier" />
        <activity android:name=".Activity.Supplier.MenuSupplier" />
        <activity android:name=".Activity.Supplier.UpdateSupplier" />
        <activity android:name=".Activity.Supplier.DetailSupplier" />
        <activity android:name=".Activity.Supplier.CreateSupplier" />
        <activity android:name=".View.Layanan.LayananAdapter" />
        <activity android:name=".View.Layanan.ListLayanan" />
        <activity android:name=".Activity.Layanan.UpdateLayanan" />
        <activity android:name=".Activity.Layanan.MenuLayanan" />
        <activity android:name=".Activity.Layanan.DetailLayanan" />
        <activity android:name=".Activity.Layanan.CreateLayanan" />
        <activity android:name=".View.Jenis.JenisAdapter" />
        <activity android:name=".View.Jenis.ListJenis" />
        <activity android:name=".Activity.Jenis.UpdateJenis" />
        <activity android:name=".Activity.Jenis.MenuJenis" />
        <activity android:name=".Activity.Jenis.CreateJenis" />
        <activity android:name=".Activity.Produk.UpdateProduk" />
        <activity android:name=".Activity.Produk.DetailProduk" />
        <activity android:name=".View.Produk.ProdukAdapter" />
        <activity android:name=".View.Produk.ListProduk" />
        <activity android:name=".Activity.Produk.MenuProduk" />
        <activity android:name=".Activity.Produk.CreateProduk" />
        <activity android:name=".View.Ukuran.UkuranAdapter" />
        <activity android:name=".View.Ukuran.ListUkuran" />
        <activity android:name=".Activity.Ukuran.UpdateUkuran" />
        <activity android:name=".Activity.Ukuran.MenuUkuran" />
        <activity android:name=".Activity.Ukuran.DetailUkuran" />
        <activity android:name=".Activity.Ukuran.CreateUkuran" />
        <activity android:name=".Fragments.HomeFragment" />
        <activity android:name=".Fragments.DataMasterFragment" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".ZoomImage" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="loaded_fonts"
            android:resource="@array/loaded_fonts" />
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>